
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <span> <img src="assets/logosa.png" style="width: 40px"></span>
  <span><a class="navbar-brand" routerLink="/">Academy</a> </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-center mr-4" id="navbarColor02">
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <span class="iconify " data-icon="ant-design:home-outlined" data-inline="false" data-width= "20" style="color: white"></span>
        <a class="nav-link" routerLink="/">Accueil
        </a>
      </li>
      <li class="nav-item">
        <span class="iconify " data-icon="el:list-alt" data-inline="false" data-width= "20" style="color: white"></span>
        <a class="nav-link" >briefs</a>
      </li>
      <li class="nav-item">
        <span class="iconify " data-icon="el:list-alt" data-inline="false" data-width= "20" style="color: white"></span>
        <a class="nav-link" >Rendus</a>
      </li>
      <li class="nav-item">
        <span class="iconify" data-icon="mdi-light:forum" data-inline="false" data-width= "20" style="color: white"></span>
        <a class="nav-link" href="#">Forum</a>
      </li>
      <li class="nav-item">
        <span class="iconify " data-icon="bi:people-fill" data-inline="false" data-width="20" style="color: white"></span>
        <a class="nav-link" routerLink="users">Utilisateurs</a>
      </li>
      <li class="nav-item dropdown">
        <span class="iconify " data-icon="carbon:settings" data-inline="false" data-width= "20" style="color: white" ></span>
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Paramètres</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="profils">Profils</a>
          <a class="dropdown-item" routerLink="referentiels">Référentiels</a>
          <a class="dropdown-item" routerLink="groupe_competences" >Groupes de compétences</a>
          <a class="dropdown-item" routerLink="competences" >Compétences</a>
          <a class="dropdown-item" >Groupes de tags</a>
          <a class="dropdown-item" >Profils de sortie</a>
          <a class="dropdown-item" >Promo</a>
        </div>
      </li>
      <li class="nav-item">
        <span class="iconify " data-icon="raphael:history" data-inline="false" data-width= "20" style="color: white"></span>
        <a class="nav-link" >Historique promos</a>
      </li>
    </ul>
  </div>
</nav>

