<!--Section: Live preview-->
<section>

  <form class=" border border-light p-5">

    <h4 class="text-black-50">Ajout d'une d'une compétence</h4>

    <div class="form-group ">
      <label>Groupe de compétences</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Développer le back-end d'une application</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>

    </div>
    <div class="form-group">
      <label>Libellé</label>
      <input type="text" id="libellé" class="form-control" placeholder="Libellé">
      <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        Au maximum 100 caractères
      </small>
    </div>

    <div class="form-group">
      <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Niveau 1</a>
      <a class="btn btn-success" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Niveau 2</a>
      <a class="btn btn-danger" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Niveau 3</a>
      <div class="row">
        <div class="col">
          <div class="collapse show" id="multiCollapseExample1">
            <div class="card card-body">
              <h5 class="text-danger">Groupe d'actions à réaliser</h5>
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
        <div class="col">
          <div class="collapse show" id="multiCollapseExample1">
            <div class="card card-body">
              <h5 class="text-danger">Critères dévaluation</h5>
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
      </div>
    </div>


    <button class="btn btn-primary my-4 btn-block waves-effect waves-light" type="submit">Ajouter</button>

  </form>
</section>


