<!--Section: Live preview-->
<section>

  <form class=" border border-dark p-5">

    <h4 class="text-black-50">Ajout d'une d'une compétence</h4>

    <div class="form-group">
      <label>Libellé</label>
      <input type="text" id="libellé" class="form-control" placeholder="Libellé">
    </div>

    <div class="form-group ">
      <label>Descriptif</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" ></textarea>
      <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        Au maximum 100 caractères
      </small>
    </div>

    <button class="btn btn-primary my-4 btn-block waves-effect waves-light" type="submit">Ajouter</button>

  </form>
</section>



