<div class="container" style="width: 50%">
<form class="form-signin" #form="ngForm" (ngSubmit)="ConnexionUser(form)">
  <img class="mb-4" src="assets/logosa.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
  <label  class="sr-only">User Name</label>
  <input type="text" id="inputEmail" class="form-control" placeholder="User name" required="" autofocus="" [(ngModel)]="ConnexionUserData.username" name="username">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""[(ngModel)]="ConnexionUserData.password"  name="password">
  <button class="btn btn-lg btn-dark btn-block" type="submit" >Envoyer</button>
</form>
</div>
