<!--Section: Live preview-->
<section>

  <form class=" border border-primary p-5" style="box-shadow: 1px 1px 4px #555">

    <h4 class="text-black-50">Ajout d'un référentiel</h4>

    <div class="form-group ">
      <label>Libellé</label>
      <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Libellé">

    </div>
    <div class="form-group">
    <label>Présentation</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" ></textarea>
      <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        Au maximum 100 caractères
      </small>
    </div>

  <div class="form-group">
    <label>Compétences</label>
    <input type="text" id="defaultRegisterFormPassword" class="form-control"  aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="programme" class="form-text text-muted mb-3">
      Impossible d'ajouter un groupe de compétences non existant
    </small>
  </div>

    <div class="form-group">
      <label>Programme</label>
    <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="" aria-describedby="defaultRegisterFormPhoneHelpBlock">
    </div>

    <div class="form-group">
      <label>Critères d'évaluation</label>
      <input type="text" id="critereEvaluation" class="form-control" placeholder="" aria-describedby="defaultRegisterFormPhoneHelpBlock">
    </div>

    <div class="form-group">
      <label>Critères d'admission</label>
      <input type="text" id="critereAdmission" class="form-control" placeholder="" aria-describedby="defaultRegisterFormPhoneHelpBlock">
    </div>
    <button class="btn btn-primary my-4 btn-block waves-effect waves-light" type="submit">Ajouter</button>

  </form>
</section>


