<div class="jumbotron">
 <!-- <h1 class="display-3">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  -->
  <div class="avatar text-center">
    <img src="assets/etudiant.jpg" class="bg-light rounded-circle  " style="width: 120px; height: 120px">
    <h5>Admin</h5>
  </div>

<!--
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
  -->
</div>
