.avatardiv {
  text-align: center;
  padding:5%;
}
.admindiv {
  text-align: center;
}
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;

}
.nav-link{
color: black;
}
 .nav-link.active {
  color: white;
   background-color: silver ;
}

a:hover:not(.active) {
  background-color: rgb(242,198,111);
  color: white;
}

.sidebar {
  height: 100%;
  background-color:rgb(245,245,245);
  padding-top: 0;

}
.sidebar a{
  font-size: larger;
}
